<div class="container">

	<div class="row">
	
 		<div class="col-xs-6 col-xs-offset-3" ng-if="vm.error">
                <uib-alert type="danger" class="text-center">
                    <span class="glyphicon glyphicon glyphicon-remove-sign"></span>
                    <span>{{vm.error}}</span>
                </uib-alert>
    	</div>

		<div class="col-xs-6 col-xs-offset-3">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<i class="fa fa-sign-in" aria-hidden="true"></i> Login
				</div>
				<div class="panel-body">
					<form class="form" name="vm.frm" ng-submit="vm.login()" novalidate>

						<div class="form-group">
							<label>Email</label>
							<input type="email" name="email" class="form-control" ng-model="vm.user.email" required>
						</div>

						<div class="form-group">
							<label>Password</label>
							<input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
						</div>

						<div class="form-group has-error">
							<p class="help-block" ng-show="vm.frm.email.$error.required && vm.frm.password.$error.required && submitted">
								Please enter your email and password.
							</p>
							<p class="help-block" ng-show="vm.frm.email.$error.email && vm.frm.$submitted">
								Please enter a valid email.
							</p>
						</div>

						<div>
							<button ng-disabled="vm.isLoading" class="btn btn-warning btn-login" type="submit">Login</button>
							<a ng-disabled="vm.isLoading" class="btn btn-default  btn-register" href="/signup">Register</a>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>