<div class="panel-body">
    <div class="pull-right">
        <input type="text" ng-model="vm.search" size="40"
         placeholder="Filter By Institute Name or Code" class="form-control" />
    </div>

    <table class="table table-condensed" style="text-align:left;">
        <thead>
            <tr>
                <th width="20%">Action</th>
                <th>Name</th>
                <th>Code</th>
                <th>Active</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="institute in vm.allInstitutes | filter: vm.search">
                <td width="20%">
                    <a ui-sref="instituteEdit( {instituteId: institute.id})">Edit</a>
                </td>
                <td>
                    <a ui-sref="instituteDetail({instituteId: institute.id})">{{institute.name}}</a>
                </td>
                <td>
                    {{institute.code}}
                </td>
             
                <td>
                    <span ng-show="institute.active" class="text-success">Active</span>
                    <span ng-hide="institute.active" class="text-danger">Inactive</span>
                </td>
                <td>{{institute.phone}}</td>
                <td>{{institute.email}}</td>
                <td>{{institute.description}}</td>
            </tr>
        </tbody>
    </table>

</div>