<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl as vm">
	<div class="container-fluid">

		<div class="navbar-header">
			<button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
      		</button>
			<a href="/" class="navbar-brand" style="padding:0px;padding-right:10px;">
				<img ng-src="{{vm.logo()}}" height="50px" width="250px" />
			</a>
		</div>

		<div collapse="vm.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav">
				<li>
					<p style="margin-top:2px;font-size:75%;">
						<span ng-bind-html="vm.contactAddress()" />
					</p>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right" ng-show="vm.isLoggedIn()">
				<li>
					<a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
				</li>
				<li>
					<p class="navbar-text pull-left"><span class="glyphicon glyphicon-user"></span> Logged in as {{vm.getCurrentUser().name}} </p>
				</li>
				<li>
					<a ui-sref="profile"><i class="glyphicon glyphicon-folder-close"></i> My Profile</a>
				</li>
				<li>
					<a href="" ng-click="vm.logout()"><span class="glyphicon glyphicon-erase"></span> Logout</a>
				</li>
			</ul>
		</div>
	</div>
</div>