<div class="panel panel-warning">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <i class="glyphicon glyphicon-info-sign"></i> Admin Panel
    </div>

    <ul class="list-group data-category">
        <li class="list-group-item">
            <a ui-sref="examEdit" href="javascript:void(0)">New Exam</a>
        </li>
        <li class="list-group-item">
            <a ui-sref="userEdit">New User</a>
        </li>
        <li class="list-group-item">
            <a ui-sref="category" href="javascript:void(0)">Manage Category</a>
        </li>
        <li class="list-group-item">
            <a ui-sref="users" href="javascript:void(0)">Manage Users</a>
        </li>
        <li class="list-group-item">
            <a ui-sref="massUpload" href="javascript:void(0)">Mass Upload</a>
        </li>
        <li class="list-group-item">
            <a ui-sref="backup" href="javascript:void(0)">Backup Database</a>
            <span class="{{backupClass}}" ng-if="showBackupDays" title="Days since the database was last backed up">{{lastBackup}}</span>
        </li>
    </ul>

</div>