<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3" ng-cloak="true">
			<uib-alert type="danger" class="text-center" ng-show="vm.error">
            	<span class="glyphicon glyphicon glyphicon-remove-sign"></span>
                <span>{{vm.error}}</span>
            </uib-alert>

			<uib-alert type="success" class="text-center" ng-show="vm.success">
            	<span class="glyphicon glyphicon glyphicon glyphicon-ok"></span>
                <span>
					Your user has been created. <br/>
					
				</span>	
            </uib-alert>

			
			<div class="panel panel-warning">

				<div class="panel-heading" ng-cloak="true">
					<i class="fa fa-user-plus" aria-hidden="true"></i> Sign up
				</div>
				<div class="panel-body">
					<div class="col-xs-12 text-center" ng-show="vm.success">
						Please contact administrator to activate you as user. <br/>
					</div>

					<form class="form" name="vm.frm"  novalidate ng-hide="vm.success">

						<div class="form-group" ng-class="{ 'has-success': vm.frm.name.$valid &&  vm.frm.$submitted,
                                            'has-error': vm.frm.name.$invalid && vm.frm.$submitted }">
							<label>Name</label>

							<input type="text" maxlength="255"  name="name" class="form-control" ng-model="vm.user.name" required/>
							<p class="help-block" ng-show="vm.frm.name.$error.required && vm.frm.$submitted">
								A name is required
							</p>
						</div>

						<div class="form-group" ng-class="{ 'has-success': vm.frm.email.$valid && vm.frm.$submitted,
                                            'has-error': vm.frm.email.$invalid && vm.frm.$submitted }">
							<label>Email</label>

							<input type="email" maxlength="255"  name="email" class="form-control" ng-model="vm.user.email" required />
							<p class="help-block" ng-show="vm.frm.email.$error.email && vm.frm.$submitted">
								Email address is invalid
							</p>
							<p class="help-block" ng-show="vm.frm.email.$error.required && vm.frm.$submitted">
								Please provide your email address
							</p>
						</div>

						<div class="form-group" ng-class="{ 'has-success': vm.frm.code.$valid && vm.frm.$submitted,
                                            'has-error': vm.frm.code.$invalid && vm.frm.$submitted }">
							<label>Institute Code</label>

							<input type="text" maxlength="255"  name="code" class="form-control" ng-model="vm.user.code" required />
							<p class="help-block">
								<i>Please contact your institute administrator to get the institute code</i>
							</p>
							<p class="help-block" ng-show="vm.frm.code.$error.required && vm.frm.$submitted">
								Please provide a valid institute code
							</p>
						</div>

						<div class="form-group" ng-class="{'has-success': vm.frm.password.$valid && vm.frm.$submitted,
                                            'has-error': vm.frm.password.$invalid && vm.frm.$submitted }">
							<label>Password</label>

							<input type="password" maxlength="255" required name="password" class="form-control" 
							ng-model="vm.user.password" ng-minlength="3"/>
							<p class="help-block" ng-show="(vm.frm.password.$error.minlength || vm.frm.password.$error.required) && vm.frm.$submitted">
								Password must be at least 3 characters.
							</p>
						</div>

						<div class="form-group" ng-class="{'has-success': vm.frm.confirmPassword.$valid && vm.frm.$submitted,
                                            			'has-error': (vm.frm.confirmPassword.$invalid && vm.frm.$submitted || !vm.isConfirmPassword) }">
							<label>Confirm Password</label>

							<input type="password" maxlength="255"  required name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword" />
							<p class="help-block" ng-show="(vm.frm.confirmPassword.$invalid && vm.frm.$submitted || !vm.isConfirmPassword)">
								<span ng-hide="vm.isConfirmPassword">Passwords do not match</span>
								<span ng-show="vm.frm.confirmPassword.$error.required">Please confirm the password again</span>
							</p>
						</div>

						<div class="text-center">
							<button class="btn btn-warning btn-register btn-lg" ng-click="vm.register()" type="submit">Sign up</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

</div>