<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-graduation-cap" aria-hidden="true"></i> <b>Correct Answers</b>
    </div>

    <div class="panel-body" ng-cloak>
        <div class="row">
            <div class="col-xs-12 text-center">
                <b>Score</b>: {{vm.result.percent}} % &nbsp;<b>Result</b>: <span ng-if="vm.result.result">PASS</span> <span ng-hide="vm.result.result">FAIL</span>
            </div>
            
            <div class="col-xs-12">
                <hr/>
            </div>
            
            <div class="form-inline col-xs-12">
                <div class="form-group col-xs-4">
                    <label for="selAnswerType">Show&nbsp;</label>
                    <select name="selAnswerType" ng-model="vm.filterType" ng-change="vm.filterByAnswerType()" 
                        class="form-control">
                        <option value="-1">All</option>
                        <option value="1">Correct</option>
                        <option value="0">Incorrect</option>
                </select>
                </div>
                <div class="form-group col-xs-6">
                    <label for="txtFilter">Filter</label>
                    <input type="text" class="form-control" size="40" ng-model="vm.filterText" name="txtFilter" id="txtFilter"
                     placeholder="Filter By Question Description or Answer" ng-change="vm.filterAnswersByText()"
                    />
                </div>
                <div class="form-group col-xs-2">
                    <label for="selPageSize">Page Size&nbsp;</label>
                    <select name="selPageSize" ng-model="vm.pageSize" ng-change="vm.pageSizeChanged()"
                         class="form-control">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                </select>
                </div>

                <div class="col-xs-12">
                    <hr/>      
                </div>

				<div class="col-xs-12 text-center" ng-hide="vm.hidePager()">
					<uib-pagination boundary-links="true" force-ellipses="true" max-size="5" rotate="true" 
                     previous-text="&lsaquo;" next-text="&rsaquo;" total-items="vm.total" 
                     items-per-page="vm.pageSize"
                     ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>	
				</div>
            </div>

        </div>


        <div class="row" drc ng-repeat="question in vm.correctAnswerPage">
            <div class="col-xs-12">
                <label class="control-label text-primary"> 
                    Question {{(vm.pageSize * (vm.currentPage - 1)) + $index + 1}}. 
                    <i style="font-size:2em;" class="text-success fa fa-check fa-4" ng-show="question.correct"></i>
                    <i style="font-size:2em;" class="text-danger fa fa-times fa-4" ng-hide="question.correct"></i>
                </label>
            </div>

            

            <div class="col-xs-12">
                <span ng-bind-html="question.questionText | formatQuestion"></span>
            </div>

            <div class="col-xs-12">
                &nbsp;
            </div>

            <div class="col-xs-12">
                <label class="control-label text-primary">Answers</label>
            </div>

            <div class="col-xs-12" ng-hide="question.length === 1">
                <div style="margin-left:10px">
                    <div class="checkbox" ng-repeat="answer in question.answerOptions">
                        <label>
                            <input type="checkbox" name="{{$parent.index}}" disabled
                                ng-model="question.selectedAnswer[answer.key]"> 
                            <span><b>{{ answer.key | uppercase }}. </b></span> <span ng-bind-html="answer.value" /> 

                            &nbsp; <span class="btn btn-success btn-xs" ng-show="answer.isCorrect"><b><i  class="fa fa-check"></i> Correct</b></span>
                            &nbsp; <span class="btn btn-danger btn-xs" ng-show="answer.isIncorrect"><b><i  class="fa fa-times"></i> Wrong</b></span>

                        </label>
                    </div>
                </div>
            </div>


            <div class="col-xs-12" ng-show="question.length === 1">
                <div style="margin-left:10px">
                    <div class="radio" ng-repeat="answer in question.answerOptions">
                        <label>
                            <input type="radio" ng-model="question.selectedAnswer" value="{{answer.key}}" name="{{$parent.index}}" disabled> 
                            <span><b>{{ answer.key | uppercase }}. </b></span> <span ng-bind-html="answer.value" /> 
                            
                            &nbsp; <span class="btn btn-success btn-xs" ng-show="answer.isCorrect"><b><i  class="fa fa-check"></i> Correct</b></span>
                            &nbsp; <span class="btn btn-danger btn-xs" ng-show="answer.isIncorrect"><b><i  class="fa fa-times"></i> Wrong</b></span>

                        </label>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <hr/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-center" >
                <uib-pagination boundary-links="true" force-ellipses="true" max-size="5" rotate="true"  
                previous-text="&lsaquo;" next-text="&rsaquo;" ng-hide="vm.hidePager()"
                items-per-page="vm.pageSize"
                total-items="vm.total" ng-model="vm.currentPage" 
                ng-change="vm.pageChanged()"></uib-pagination>	
            </div>           
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <br/>
                    <button class="btn btn-warning btn-lg" ng-click="vm.exit()"><i class="fa fa-external-link" aria-hidden="true"></i> Exit Exam</button>
                </div>

            </div>
        </div>

    </div>
</div>